
mypet/.DS_Store
.DS_Store
mypet/.classpath
mypet/.project
mypet/bin/
mypet/gen/com/zhuww/mypet/R.java
PET-OP/.idea/caches/build_file_checksums.ser
PET-OP/.idea/codeStyles/Project.xml
PET-OP/PET-OP.iml
PET-OP/app/src/main/res/drawable/ic_launcher.png
PET-OP/app/src/main/res/drawable-mdpi/panda_down_1.png
PET-OP/app/src/main/res/drawable-mdpi/panda_down_2.png
PET-OP/app/src/main/res/drawable-mdpi/panda_sit.png
PET-OP/app/src/main/res/drawable-mdpi/panda_up_1.png
PET-OP/app/src/main/res/drawable-mdpi/panda_walk_1.png
PET-OP/app/src/main/res/drawable-mdpi/panda_walk_2.png
PET-OP/app/src/main/res/drawable-mdpi/panda_walk_3.png
PET-OP/app/release/app-release.apk
PET-OP/app/release/output.json
PET-OP/app/app-release.apk
